# 공통 패키지 — 로컬/Docker 양쪽에서 사용
Django
dj-database-url
django-admin-sortable2
django-cors-headers
django-extensions
django-mptt
django-treebeard
djangorestframework
httpx
huggingface-hub
jsonschema
lark
numpy
pillow
psycopg[binary]
pydot
pygraphviz
PyYAML
regex
requests
safetensors
sentencepiece
tokenizers
tqdm
transformers
python-json-logger
python-docx
beautifulsoup4
